html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.pai {
    width: 50rem; /*500px*/
    height: 100vh;
    background: yellow;
}
.pai > div {
    width: 50%; /*500px*/
    height: 50rem;
    background: blue;
}


p{
    font-size: 2vmax;
}
.color-one {
    background: turquoise;
}
.color-two{
    background: violet;
}